.shiftPostSuspend {
    margin-top: 1rem;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 12px;

    .shiftPostSuspendPay {
        display: flex;
        gap: 6px;
        width: 110px;
        padding: 3px 6px;

        background-color: #313131;
        color: #ffff;

        span {
            color: #00bf63;
        }
    }

    button { 
        display: flex;
        align-items: center;
        justify-content: center;
    }

}