@import '../../../style/colors.scss';

.underShiftsFont {
    color: #fbdca8;
    font-family: 'Mistrully';
    text-decoration: none;
    text-shadow: 5px 5px 15px;
    
    span {
        font-family: 'Mistrully';
        color: $underShifts;
    }
}