@import '../../../style/colors.scss';

.shiftForm {
    
    .backShiftForm {
        cursor: pointer;
        transition: .3s ease-in-out;
        text-align: center;

        &:hover {
            background-color: rgb(226, 226, 226);
        }
    }

    .shiftFormLink {
        text-decoration: none;
        color: $underShifts;
        transition: .3s ease-in-out;

        &:hover {
            color: gray;
        }
    }
}

@media (max-width: 767px) {

    .shiftForm {
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
    
    .shiftForm::-webkit-scrollbar {
        height: 6px;
    }
    
    .shiftForm::-webkit-scrollbar-thumb {
        background-color: $underShifts; 
        border-radius: 6px; 
    }
}