.newsTable {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 1rem;

    .newsTableTop {
        display: flex;
        align-items: start;
        gap: 5rem;

        .newsTableTopR {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .newsTableTopRTop {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                gap: 6rem;
            }

            .newsTableRDiv {
                display: flex;
                flex-direction: column;
                width: 100%;
    
                .newsTableRDivSub {
                    height: 100px;
                    padding: 3px;
                }

                .countText {
                    font-size: 10px;
                    color: gray;
                }
            }
        }
    }

    .newsTableSign {
        width: 300px;
    }

    .newsTableRDiv {
        display: flex;
        flex-direction: column;
        width: 89%;
        
        .newsTableRDivText {
            height: 300px;
            padding: 3px;
        }
    }

    .newsTableButtons {
        display: flex;
        width: 89%;
        justify-content: space-between;
        align-items: center;

        .newsTableButtonsInput {
            width: 600px;
        }
    }
}