@import '../../../style/colors.scss';

.underSiteFont {
    color: #fbdca8;
    font-family: 'Mistrully';
    text-decoration: none;
    
    span {
        font-family: 'Mistrully';
        color: $underSite;
    }
}