.vewStream {
    min-height: 70vh;
    margin-top: 70px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 4rem;

    .vewStreamFather {
        max-width: 600px;
        width: 100%;

        .vewStreamVideo {
            width: 100%;
            position: relative;
            padding-bottom: 56.25%;
            height: 0;
        }

        .vewStreamVideo iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}