.postApplication {
    margin-top: 0.4rem;
    width: 100%;
    margin-bottom: 2rem;

    .postApplicationP {
        color: gray;
    }

    .formWantBannerP {
        font-size: 12px;
    }

    form {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.6rem;

        .formWantBannerDiv {
            display: flex;
            flex-direction: column;
            width: 300px;

            .pLinks {
                color: gray;
                font-size: 12px;
            }
        }

        .formWantBannerRow {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 0.2rem;
        }
    }
}

@media (max-width: 769px) {
    .postApplication {

        .postApplicationP {
            width: 90%;
        }
        
        form {
            align-items: center;
        }

        .formWantBannerDiv {
            width: 250px;
        }
    }
}