@import '../../../../style/colors.scss';

#applicationHelp {
    border-top: 1px solid gray;
    width: 80%;
    margin: 0 auto;

    strong {
        color: $colorB;
    }

    p {
        width: 80%;
        text-align: center;
        margin: 0 auto;
    }

    img {
        width: 100%;
        margin-top: 3rem;
        box-shadow: 5px 5px 15px;
        transition: .3s ease-in-out;

        &:hover {
            transform: translateY(-3px);
        }
    }

    .applicationHelpText {
        width: 80%;
        margin: 3rem auto;

        ul {
            margin: 2rem 0;
            list-style-type: none;

            li {
                margin-top: .6rem;
                list-style-type: none;
            }
        }
    }

    .applicationHelpImgs {
        display: flex;
        justify-content: space-around;

        .applicationHelpImgsA {
            width: 400px;
        }

        .applicationHelpImgsB {
            width: 200px;
            height: 100px;
            object-fit: contain;
        }
    }

    .applicationHelpNew {
        display: flex;
        justify-content: space-around;
        margin-bottom: 4rem;

        .applicationHelpNew1 {
            width: 300px;
        }

        .applicationHelpNew2 {
            width: 360px;
            height: 200px;
            object-fit: contain;
        }
    }

    .applicationHelpDIV {
        width: 80%;
        margin: 2rem auto;

        p {
            margin: 1rem 0;
            line-height: 2;
        }

        ul {
            margin-left: 2rem;
            list-style-type: none;

            li {
                margin-top: 1rem;
                line-height: 2;
                list-style-type: none;
            }
        }

        ol {
            margin-left: 2rem;
            list-style-type: none;


            li {
                margin-top: 1rem;
                line-height: 2;
                list-style-type: none;

            }
        }
    }
}

@media (max-width: 767px) {

    #applicationHelp {
        width: 94%;
        margin: 0 auto;

        p {
            width: 90%;
        }

        .applicationHelpText {
            width: 90%;
            margin: 3rem auto;

            ul {
                margin: 1rem 0;
                margin-left: 2rem;
            }
        }

        .applicationHelpImgs {
            align-items: center;
            flex-direction: column;

            .applicationHelpImgsA {
                width: 280px;
            }

            .applicationHelpImgsB {
                width: 200px;
                height: 100px;
            }
        }

        .applicationHelpNew {
            margin-bottom: 2rem;
            flex-direction: column;
            align-items: center;

            .applicationHelpNew1 {
                width: 300px;
            }

            .applicationHelpNew2 {
                width: 280px;
                height: 160px;
            }
        }

        .applicationHelpDIV {
            width: 90%;
            margin: 2rem auto;
        }
    }
}