@import '../../../style/colors.scss';

.endPublicity {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 35px;

    .endPublicityAlerts {
        display: flex;
        align-items: flex-start;
        gap: 1rem;
        background-color: rgba(199, 199, 199, 0.39);
        padding: 1rem;

        .endPublicityText {
            display: flex;
            flex-direction: column;
            gap: 12px;

            strong {
                color: $colorB;
            }

            .endPublicityBlue {
                font-size: 12px;
                color: $colorA;
            }
        }
    }
}

@media (max-width: 767px) {
    .endPublicity {
        .endPublicityAlerts {
           flex-direction: column;
        }
    }
}