.drawer {
    position: fixed;
    top: 70px;
    right: -255px; 
    width: 278px;
    height: 570px;
    transition: right 0.3s ease-in-out; 
    z-index: 4;
    overflow-y: auto;

    &::-webkit-scrollbar {
        display: none;
    }

    .drawerIn {
        display: flex;
    }

    &.open {
        right: 0;
    }
}