@import '../../../style/colors.scss';

.eventFilter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    background-color: rgb(216, 216, 216);
    padding: 6px;

    .eventFilterL {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;

        div {
            width: 150px;

            select {
                width: 100%;
            }

            input {
                width: 100%;
            }
        }

        .eventFilterIcon {
            cursor: pointer;
            transition: .3s ease-in-out;

            &:hover {
                transform: rotate(90deg);
            }
        }
    }

    .eventFilterR {
        width: 200px;
        display: flex;
        align-items: center;
        gap: 0.4rem;

        input {
            width: 100%;
        }

        .iconStar {
            cursor: pointer;
            transition: .3s ease-in-out;
            color: $underEvent;
        }
    }
}

@media (max-width: 767px) {
    .eventFilter {
        justify-content: center;
        align-items: flex-start;
        width: 85%;

        .eventFilterL {   

            div {
                width: 100%;
            }
        }

        .eventFilterR {
            width: 100%;
        }
    }
}