.priceList {
    margin-top: 70px;
    padding: 1rem;
    width: 80%;

    .priceListTitle {
        display: flex;
        justify-content: space-between;
        
        div {
            display: flex;
            align-items: flex-end;
            gap: .4rem;
        }
    }

    button {
        color: #ffff;
        margin-top: 1rem;
    }

    .priceListForms {
        display: flex;
        justify-content: space-around;
        margin-top: 1rem;
    }
}