.priceList {
    margin-top: 70px;
    padding: 1rem;
    width: 80%;

    button {
        color: #ffff;
    }

    .priceListForms {
        display: flex;
        justify-content: space-around;
        margin-top: 1rem;
    }
}