@import '../../../../../../style/colors.scss';

.searchBanner {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
    width: 60%;

    div {
        display: flex;
        flex-direction: column;
        width: 200px;
    }
}