.shiftCalendarUser {
    margin-top: 1rem;

    .shiftCalendarUserText {
        width: 280px;

        input:hover {
            border: none;
        }
    }

    .shiftCalendarUserSect {
        margin-top: 1rem;

        .shiftCalendarUserP {
            color: red;
        }
    }
}