.vewVideosTut {
    width: 90%;
    margin-top: 1rem;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;

    .vewVideosTutVid {
        width: 250px;
        height: 150px;
    }

    .vewVideosTutTD {
        cursor: pointer;
    }

}