@import '../../../style/colors.scss';

.eventProgress {
    width: 80%;
    margin: auto;
    padding-top: .6rem;

    .eventProgressDivIcon {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .eventProgressDivDivIcon {
            width: 100%;
            display: flex;
            justify-content: space-around;
            p {
                transition: .3s ease-in-out;
                color: gray;
            }
        }

        .eventProgressArrow {
            color: gray;
            cursor: pointer;
            transition: .3s;

            &:hover {
                transform: scale(1.2);
                color: $underEvent;
            }
        }
    }

    .eventProgressStepper {
        height: 2px;
        background-color: $underEvent;
        transition: .3s ease-in-out;
    }
}

@media (max-width: 767px) {
    .eventProgress {
        width: 100%;
        padding-top: 0;

        .eventProgressDivIcon {
            .eventProgressDivDivIcon {
                p {
                    font-size: 10px;
                }
            }
        }
    }
}