.shopping {
    margin-top: 1rem;

    .shoppingPagger {
        margin-top: 2rem;
    }

    .shopingAllOrderSwitch {
        display: flex;
        align-items: center;
        margin: .4rem 0;
    }
}