@import '../../style/colors.scss';

.recommendations {
    height: 80vh;
    margin-top: 70px;
    text-align: center;

    h2 {
        padding-top: 1rem;
        font-size: 3rem;
    }

    span {
        color: $colorA;
    }
}