.shiftSections {

    .shiftSectionsSwitch {
        display: flex;
        align-items: center;
    }

    .shiftSectionsName {
        display: flex;
        align-items: center;
        gap: 6px;

        .shiftSectionsIcon {
            cursor: pointer;
            transition: .3s ease-in-out;

            &:hover {
                color: rgb(209, 13, 46);
            }
        }
    }
}