.SiteUpdateAddCast {
    width: 100%;

    .castItem {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
        width: 100%;

        .castAllTitle {
            input {
                margin-bottom: 2rem;
            }
        }

        .SiteUpdateAddCastText {
            width: 280px;

            .textAreaUpd {
                width: 100% !important;
            }
        }
    }

    .SiteUpdateAddCastByu {
        background-color: rgba(20, 145, 20, 0.781);
    }
}