.bodyNews {
    margin-bottom: 4rem;
    padding-top: 2rem;
    text-align: center;
    background-color: #242424;

    .bodyNewsP {
        font-family: 'Mistrully';
        font-size: 4rem;
        color: #fbdca8;

        span {
            font-family: 'Mistrully';
            color: #004aad;
        }
    }
}