.eventImages {
    margin: 2rem 0;

    .eventImagesBtns {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 2rem;
        gap: 1rem;
    }

    .eventImagesIMG {
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        
        img {
            box-shadow: 5px 5px 15px;
            transition: .3s ease-in-out;
            width: 250px;
            object-fit: contain;
            border-radius: 6px;

            &:hover {
                transform: translateY(-5px);
            }
        }
    }
}