.underBanner {
    margin-top: .2rem;

    textarea {
        width: 300px;
        height: 100px;
        resize: none;
        padding: 3px;
    }
}

@media (max-width: 769px) {
    .underBanner {
        textarea {
            width: 100%;
        }
    }
}