@import '../../../style/colors.scss';

.eventTableHtml {

    .eventTableBody {

        .eventTableBack {
            cursor: pointer;
            transition: .3s ease-in-out;

            &:hover {
                background-color: rgb(189, 187, 187);
            }
        }
    }
}

@media (max-width: 767px) {

    .eventTableHtml {
        width: 90%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;

        &::-webkit-scrollbar {
            height: 6px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $underEvent;
            border-radius: 6px;
        }

        .eventTableHtml {
            cursor: pointer;
            transition: .3s;

            &:hover {
                color: black;
                background-color: $underEvent;
            }
        }
    }
}