@import '../../../../style/colors.scss';

.paymentsTable {

    .paymentsTableImg {
        cursor: pointer;
        transition: .3s ease-in-out;
        
        &:hover {
            background-color: rgb(163, 163, 163);
        }
    }
}

.paymentsTableInfo {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h3 {
        color: $colorA;
    }

    p strong {
        color: $colorB;
    }
}

.paymentsTableUpdate {
    cursor: pointer;
    transition: .3s ease-in-out;

    &:hover {
        background-color: rgb(209, 209, 209);
    }
}

@media (max-width: 767px) {

    .paymentsTable {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
    
    .paymentsTable::-webkit-scrollbar {
        height: 6px;
    }
    
    .paymentsTable::-webkit-scrollbar-thumb {
        background-color: $colorB; 
        border-radius: 6px; 
    }
    
}

.paymentsTableOrderConfirm {
    cursor: pointer;
    transition: .3s ease-in-out;
   
    &:hover {
        background-color: rgb(185, 185, 185);
    }
}