@import '../../../../style/colors.scss';

#avatarHelp {
    width: 90%;
    margin: 0 auto;
    border-top: solid 1px gray;

    .avatarHelpPhot {
        margin-top: 4rem;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 2rem;

        img {
            height: 300px;
            box-shadow: 5px 5px 15px;
        }
    }

    .avatarHelpP {
        line-height: 2.5;
        width: 80%;
        margin: 4rem auto;
    }

    strong {
        color: $colorB;
    }

    .avatarHelpImg {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 40%;
            box-shadow: 5px 5px 15px;
        }
    }
}

@media (max-width: 767px) {
    #avatarHelp {
        width: 100%;
        padding: 0 1rem;
    
        .avatarHelpPhot {
            margin-top: 4rem;
            align-items: center;
            gap: 2rem;
        
            img {
                height: 200px;
            }
        }
    
        .avatarHelpP {
            width: 100%;
            text-align: center;
        }
    
        .avatarHelpImg {    
            img {
                width: 100%;
            }
        }
    }
}