@import '../../../style/colors.scss';

@media (max-width: 767px) {

    .alertsUserVew {
        width: 90%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    .alertsUserVew::-webkit-scrollbar {
        height: 6px;
    }

    .alertsUserVew::-webkit-scrollbar-thumb {
        background-color: $colorB;
        border-radius: 6px;
    }

}