.listView {
    display: flex;
    flex-direction: column;
}

.listViewCont {
    margin-top: 1rem;
}

.listViewCont p {
    font-size: 1rem;
    font-weight: 600;
}

.listViewSales p {
    font-size: 12px;
    font-weight: normal;
    color: gray;
}