.alerts {
    display: flex;
    align-items: center;
    gap: 1rem;

    .alertsLink {
        color: #fff;
        transition: .3s;
        
        &:hover {
            color: gray;
        }
    }
}