.alerts {
    display: flex;
    align-items: center;
    margin-top: 6px;

    .alertsFather {
        position: relative;

        &:hover .alertsChildren {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }
    }

    .alertsChildren {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        position: absolute;
        background-color: #afafaf;
        top: 35px;
        right: 0;
        z-index: 3;
        color: black;
        transition: .3s ease-in-out;
        min-width: 250px;

        .alertsChildrenDiv {
            display: flex;
            align-items: center;
            gap: 6px;
            padding: 6px;
            transition: .3s ease-in-out;
            cursor: pointer;
            text-decoration: none;
            color: black;

            img {
                width: 30px;
            }

            &:hover {
                background-color: rgb(204, 204, 204);
            }
        }
    }
}