.transferDas {
    margin-top: 1rem;

    .transferDasChek {
        display: flex;
        align-items: center;
        gap: 1rem;

        div {
            display: flex;
            align-items: center;
        }
    }
}