.UpdEventStream {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    .Inputss {
        width: 260px;

        select {
            width: 100%;
        }
    }

    .eventStreamInput {
        width: 100%;
        display: flex;
        align-items: center;
        
        input {
            width: 100%;
        }

        .eventStreamIcon {
            font-size: 2.3rem;
            cursor: pointer;
            transition: .3s ease-in-out;

            &:hover {
                color: rgb(35, 57, 90);
            }
        }
    }
}