@import '../../../style/colors.scss';

.sellerPayNotFound {
    width: 300px;
    text-wrap: balance;
    text-align: center;

    h2 {
        margin-bottom: 1rem;
    }

    .lineMargin {
        margin: 1rem 0;
        background-color: $colorA;
    }

    span {
        color: $colorB;
    }

    .sellerPayNotFoundChek {
        display: grid;
        place-content: center;
    }
}