.wantBanner {
    width: 100%;
    min-height: 90vh;
    margin-top: 70px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .wantBannerDiv {
        width: 50%;
    }

    img {
        width: 500px;
        object-fit: contain;
        filter: drop-shadow(5px 5px 15px);
    }
}

@media (max-width: 769px) {
    .wantBanner {
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        text-align: center;
        .wantBannerDiv {
            width: 100%;
        }
    
        img {
            width: 280px;
        }
    }
}