@import '../../../style/colors.scss';

.bookingToAdmin {

    .bookingToAdminBack {
        cursor: pointer;
        transition: .3s ease-in-out;

        &:hover {
            background-color: rgb(201, 201, 201);
        }
    }

    .bookingToAdminLink {
        text-decoration: none;
        color: gray;
        transition: .3s ease-in-out;

        &:hover {
            color: green;
        }
    }

    .bookingToAdminCursor {
        margin-top: 0.4rem;
        cursor: pointer;
        transition: .3s ease-in-out;

        &:hover {
            color: $colorA;
        }
    }
}

@media (max-width: 767px) {
    
    .bookingToAdmin {
        width: 90%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;

        &::-webkit-scrollbar {
            height: 6px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $colorB;
            border-radius: 6px;
        }

        .bookingToAdmin {
            cursor: pointer;
            transition: .3s;

            &:hover {
                color: black;
                background-color: $colorB;
            }
        }
    }
}