.shiftAlmanac {
    margin-top: 1rem;

    section {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .shiftAlmanacBtn {
        margin-top: 1rem;
    }

    .shiftAlmanacOk {
        font-size: 12px;
        margin-top: 3px;
        color: green;
    }

    .shiftAlmanacOff {
        font-size: 12px;
        margin-top: 3px;
        color: red;
    }
}