.shiftAlmanac {
    margin-top: 1rem;

    .shiftAlmanacSect {
        display: flex;
        flex-wrap: wrap;
        gap: 4rem;
    }

    .shiftAlmanacBtn {
        margin-top: 1rem;
    }

    .shiftAlmanacOk {
        font-size: 12px;
        margin-top: 3px;
        color: green;
    }

    .shiftAlmanacOff {
        font-size: 12px;
        margin-top: 3px;
        color: red;
    }
}

@media (max-width: 767px) {
    .shiftAlmanac .shiftAlmanacSect {
        gap: 1rem;
    }
}