@import '../../../../../style/colors.scss';

.expandApplication {
    padding-left: 2rem;
    padding-top: 1rem;

    ul li {
        font-size: 14px;
        color: #555555;
    }

    ul li strong {
        color: $colorA;
    }

}