@import '../../../../../style/colors.scss';

.expandApplication {
    padding-left: 2rem;

    .expandList {
        display: flex;
        flex-direction: column;
        gap: .4rem;
    }

    ul li {
        font-size: 14px;
        color: #555555;
    }

    ul li strong {
        color: $colorB;
    }

}