.siteUpdatePortal {

    section {
        margin-top: 1rem;

        input {
            width: 250px;
        }

        .siteUpdatePortalCat {
            margin-top: 1rem;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 1rem;

            select {
                width: 250px;
            }
        }
    }

    .siteUpdatePortalImages {
        display: flex;
        gap: 2rem;
        align-items: center;
        flex-wrap: wrap;

        div {

            .imgBanner {
                width: 280px;
                height: 150px;
                object-fit: cover;
            }

            .imgLogo {
                width: 150px;
                height: 150pxpx;
                object-fit: cover;
                border-radius: 50%;
            }
        }
    }
}