@import '../../../style/colors.scss';

.subNav {
    width: 100%;
    height: 50px;
    background-color: $colorC;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;

    .subNavTitle {
        color: #fff;
        display: flex;
        align-items: center;
        gap: 0.6rem;
        margin-left: 0.4rem;
        
        img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    .subNavIcons {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-right: 0.4rem;
        color: #ffff;

        .btnDoorCont {
            color: #fff;
            transition: .3s;
            font-size: 2rem;
            
            &:hover {
                color: gray;
            }
        }
    }
}