@import '../../../../style/colors.scss';

.shiftAlmanacDays {

    .shiftAlmanacDaysName {
        display: flex;
        align-items: center;
        margin-bottom: 6px;
        justify-content: space-between;

        button {
            width: 90px;
            background-color: rgba(128, 128, 128, 0.514);
            border: none;
            height: 25px;
            border-radius: 6px;
            cursor: pointer;
            transition: .3s ease-in-out;

            &:hover {
                background-color: gray;
            }
        }
    }

    table {
        width: 300px;

        .prev-month,
        .next-month,
        .non-work-day {
            color: #ccc;
            background-color: #f9f9f9;
        }

        .today {
            color: $underShifts;
        }

        .current-month {
            cursor: pointer;

            &:hover {
                color: black;
            }
        }

        .dayClick {
            color: #ccc;
            width: 100%;
            height: 100%;
            
            div {
                background-color: $underShifts;
                padding: 3px 3px 3px 5px;
                border-radius: 3px;
                width: 100%;
                height: 100%;
            }
        }
    }
}

@media (max-width: 767px) {
    
    .shiftAlmanacDays {
        width: 90%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;

        &::-webkit-scrollbar {
            height: 6px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $colorB;
            border-radius: 6px;
        }

        .sellerTable {
            cursor: pointer;
            transition: .3s;

            &:hover {
                color: black;
                background-color: $colorB;
            }
        }
    }
}