@import '../../../../../style/colors.scss';

.isUserCart {
    margin-top: 40px;
    border: 1px solid $colorD;
    width: 40%;
    padding: 6px;


    button {
        margin-top: 1rem;
    }
}