.theMarket {
    margin-top: 70px;
    min-height: 80vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h2 {
        text-align: center;
        font-size: 4rem;
    }
}

@media (max-width: 767px) {
    .theMarket {
        h2 {
            font-size: 3rem;
        }
    }
}