.theMarket {
    margin-top: 70px;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    
    .theMarketTitle {
        margin-top: 3rem;
    }
}

@media (max-width: 767px) {
    .theMarket {
        h2 {
            font-size: 3rem;
        }
    }
}