.shiftInputUser {
    width: 225px;

    h6 {
        text-align: center;
    }

    .shiftInputUserSect {
        width: 100%;

        div {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
    }

}