@import './colors.scss';

.btn {
    height: 30px;
    width: 150px;
    border-radius: 3px;
    border: none;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.btnA {
    background-color: $colorA;
    color: black;

    &:hover {
        background-color: $colorE;
    }
}

.btnB {
    background-color: $colorB;
    color: black;

    &:hover {
        background-color: $colorF;
    }
}

.btnC {
    border: solid 1px black;

    &:hover {
        background-color: rgb(180, 180, 180);
    }
}

.btnD {
    background-color: $colorC;
    color: #fff;

    &:hover {
        background-color: $colorD;
    }
}

.btnE {
    background-color: #840005;
    color: #fff;

    &:hover {
        background-color: #a6291f;
    }
}

.btnCard {
    width: 100px;
    background-color: $colorC;
    border: none;
    border-radius: 4px;
    padding: 3px;
    color: #ffff;
    cursor: pointer;
    transition: .3s ease-in-out;

    &:hover {
        background-color: $colorD;
    }
}

.btnUE {
    background-color: $underEvent;
    color: #fff;

    &:hover {
        background-color: #515683;
    }
}

.btnUS {
    background-color: $underSite;
    color: #fff;

    &:hover {
        background-color: $underSiteHover;
    }
}

.btnSH {
    background-color: $underShifts;
    color: #fff;

    &:hover {
        background-color: #ee5b5d;
    }
}

.btnGray {
    background-color: rgb(201, 201, 201);
    color: #fff;

    &:hover {
        background-color: rgb(151, 147, 147);
    }
}