$colorA: #f45c14;
$colorB: #00756F;
$colorC: #242424;
$colorD: #313131;
$colorE: #be4811;
$colorF: #02635e;

$underPay: #00bf63;
$underNews: #004aad;
$underMark: #550805;
$underShifts: #ec3639;

$underSite: #058d4d;
$underSiteHover: #057541;

$underEvent: #383f84;

$textColor: #fbdca8;

.colUE {
    color: #383f84;
}

.colUS {
    color: #058d4d;
}

.pgray {
    font-size: 12px;
    color: gray;
}