$colorA: #f45c14;
$colorB: #00756F;
$colorC: #242424;
$colorD: #313131;
$colorE: #be4811;
$colorF: #02635e;

$underPay: #00bf63;
$underNews: #004aad;
$underMark: #550805;

$textColor: #fbdca8;