@import '../../../style/colors.scss';

.bodyProduct {
    margin-top: 5%;

    .theMarkets {
        text-decoration: none;

        h2 {
            text-align: center;
            font-size: 4rem;
            margin-top: 2rem;
            cursor: pointer;
            color: $colorC;
            transition: .3s ease-in-out;

            &:hover {
                color: $colorE;
            }
        }
    }

    .bodyProductIn {
        max-width: 1340px;
        margin: auto;
    }

    .bodyProductP {
        text-align: center;
        margin-top: 4rem;
        color: $colorB;
        transition: .3s ease-in-out;
        
        &:hover {
            color: $colorD;
        }
    }
}

@media (max-width: 767px) {
    .bodyProduct {

        h2 {
            font-size: 3rem;
        }
    }
}