@import '../../../style/colors.scss';

.bodyProduct {
    margin-top: 5%;

    .bodyProductTile {
        display: grid;
        place-items: center;
    }

    .theMarkets {
        text-decoration: none;
    }

    .bodyProductIn {
        max-width: 1340px;
        margin: auto;
    }

    .bodyProductP {
        text-align: center;
        margin-top: 4rem;
        color: $colorB;
        transition: .3s ease-in-out;

        &:hover {
            color: $colorD;
        }
    }
}

@media (max-width: 767px) {}