@import '../../../../style/colors.scss';

.imgUploadTop {
    position: relative;

    .imgUpload {
        border: 1px solid $underSite;
        cursor: pointer;

        .imgUploadImg {
            object-fit: cover;
        }
    }

    select {
        position: absolute;
        top: 0;
        right: 0;
    }
}