@import '../../../style/colors.scss';

.TransferSendTable {

    span {
        color: $colorB;
    }

    .TransferSendTableFlags {
        width: 30px;
        object-fit: contain;
        border-radius: 1px;
    }

    .TransferSendTableBack {
        cursor: pointer;
        transition: .3s ease-in-out;

        &:hover {
            background-color: rgb(199, 198, 198);
        }
    }

    .TransferSendTableOrders {
        p {
            cursor: pointer;
            transition: .3s ease-in-out;
            margin-top: 1rem;

            &:hover {
                color: black;
            }
        }
    }
}

@media (max-width: 767px) {

    .TransferSendTable {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
    
    .TransferSendTable::-webkit-scrollbar {
        height: 6px;
    }
    
    .TransferSendTable::-webkit-scrollbar-thumb {
        background-color: $colorB; 
        border-radius: 6px; 
    }
}