.avatarUser {
    padding: 1rem;
    width: 100%;
    background-image: linear-gradient(#000000c7, #000000c7), url('https://res.cloudinary.com/dtzy75wyt/image/upload/v1721860003/images/cfqh5hckneknk1m7glc1.png');
    background-size: cover;
    color: #fff;
}