.configuration {
    margin-top: 70px;
    padding: 1rem;
    width: 85%;

    .configurationBtns {
        margin: 1rem 0;
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
    }
}