.commentsReport {
    display: flex;
    flex-direction: column;
    align-items: center;

    .messageVewDiv {
        display: flex;
        align-items: flex-end;
        gap: 1rem;
        width: 100%;
        padding: 1rem 0;

        img {
            width: 30px;
            height: auto;
            border-radius: 50%;
        }

        .messageVewText {
            text-align: left;

            p:first-of-type {
                font-size: 14px;
            }

            p:nth-child(2) {
                font-size: 10px;
                color: gray;
            }
        }

        .commentsReportDivIcon {
            margin-left: 1rem;
            cursor: pointer;

            .commentsReportIcon {
                color: red;

                &:hover {
                    color: brown;
                }
            }
        }
    }

    .messageVewPoint {
        color: gray;
        cursor: pointer;
        transition: .3s ease-in-out;

        &:hover {
            color: black;
        }
    }

    .commentsReporters {
        padding-top: 1rem;
        border-top: solid 1px gray;
    }

    .commentsReportersBtn {
        margin-top: 1rem;
    }
}