.shiftAll {
    min-height: 70vh;
    margin: 70px 0;
    
    .shiftAllTitle {
        display: flex;
        justify-content: center;
        padding-top: 2rem;
    }

    .shiftAllFilter {
        display: flex;
        justify-content: center;
    }
}