@import '../../../style/colors.scss';

.bookingTable {
    margin-top: 1rem;

    .bookingTableBack {
        cursor: pointer;
        transition: .3s ease-in-out;

        &:hover {
            background-color: rgb(207, 203, 203);
        }

        .bookingTableLink {
            text-decoration: none;
            color: gray;
            transition: .3s ease-in-out;

            &:hover {
                color: $colorA;
            }
        }
    }

}

@media (max-width: 767px) {
    
    .bookingTable {
        width: 90%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;

        &::-webkit-scrollbar {
            height: 6px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $colorB;
            border-radius: 6px;
        }

        .bookingTable {
            cursor: pointer;
            transition: .3s;

            &:hover {
                color: black;
                background-color: $colorB;
            }
        }
    }
}