@import '../../../../style/colors.scss';

.price {
    width: 100%;
    display: flex;
    align-items: flex-end;
    gap: 2rem;

    div {
        display: flex;
        align-items: flex-end;
        gap: .4rem;
    }

    .listIconPrice {
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 300px;
        padding: 1rem;
        background-color: #fff;
        box-shadow: 5px 5px 15px black;
        position: absolute;
        right: 0;
        display: none;
    }

    .listIcon {
        cursor: pointer;
        color: $colorA;
        position: relative;

        &:hover {
            .listIconPrice {
                display: block;
            }
        }
    }
}

@media (max-width: 769px) {

    .price {
        flex-direction: column;
        align-items: center;

        .listIconPrice {
            right: -580%;
        }
    }
}