@import '../../../style/colors.scss';

.vewPublicityProfil {
    margin-top: 2rem;

    .vewPublicityProfilBack {
        cursor: pointer;
        transition: .3s;

        &:hover {
            background-color: rgb(192, 192, 192);
        }
    }
}

@media (max-width: 767px) {

    .vewPublicityProfil {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
    
    .vewPublicityProfil::-webkit-scrollbar {
        height: 6px;
    }
    
    .vewPublicityProfil::-webkit-scrollbar-thumb {
        background-color: $colorB; 
        border-radius: 6px; 
    }
}