@import '../../../style/colors.scss';

.newsVewTable {
    margin-top: 1rem;

    .newsVewTableBack {
        cursor: pointer;
        transition: .3s ease-in-out;

        &:hover {
            background-color: rgb(219, 219, 219);
            color: $underNews;
        }

        .newsVewTableLink {
            text-decoration: none;
            color: gray;
            transition: .3s ease-in-out;

            &:hover {
                color: $underNews;
            }
        }
    }

    .newsVewTableImg {
        width: 30px;
        object-fit: contain;
        border-radius: 1px;
    }
}