.sitePageOnly {
    display: flex;
    flex-direction: column;
    align-items: center;

    section {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;
        margin-top: 2rem;

        p {
            width: 50%;
            line-height: 2;
        }

        .sitePageOnlyImg {
            width: 300px;
            box-shadow: 5px 5px 15px;
        }
    }
}

@media (max-width: 767px) {
    .sitePageOnly section p {
        width: 80%;
        text-align: justify;
    }
}