@import '../../../../../style/colors.scss';

.shiftPostponerUser {
    margin-top: 1rem;

    .shiftPostponerUserIsNotPay {
        width: 60%;
        margin: auto;
        line-height: 3;
    }

    .shiftPostponerUserTop {
        display: flex;
        justify-content: space-evenly;
        max-width: 600px;
        flex-wrap: wrap;
        margin: auto;

        .shiftPostponerUserImg {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            h3 {
                font-size: 2rem;
            }

            img {
                width: 150px;
                transition: .3s ease-in-out;

                &:hover {
                    transform: translateX(-3px);
                }
            }
        }

        .shiftPostponerUserRight {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            margin-top: 2rem;
        }
    }

    .shiftPostponerUserMessage {
        padding-top: 2rem;
        width: 50%;
        margin: 0 auto;
    }

    .shiftPostponerUserBtn {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        gap: 2rem;
    }

    span {
        color: $underShifts;
    }

    .shiftPostponerUserAlmanac {
        display: flex;
        justify-content: center;
        margin-top: 4rem;
    }
}

@media (max-width: 767px) {
    
    .shiftPostponerUser {

        .shiftPostponerUserTop {

            .shiftPostponerUserImg {
                align-items: center;
            }
        }
    }
}