.castAll {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .castAllSection {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 2rem;

        .castItem {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 2rem;

            .castAllTitle {
                display: flex;
                flex-direction: column;
                gap: 1rem;
            }

            .castAllSectionIcon {
                cursor: pointer;
                color: gray;
                transition: .3s ease-in-out;

                &:hover {
                    color: red;
                }
            }
        }
    }

    .castAllButton {
        text-align: center;
        margin-top: 2rem;
    }

    .castAllLine {
        margin-top: 1rem;
        background-color: #058d4d;
    }
}