@import '../../../style/colors.scss';

.cardProducts {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    flex-wrap: wrap;

    .cardProduct {
        margin-top: 2rem;
        width: 250px;
        height: 400px;
        border: solid 1px gray;
        padding: 1rem;
        border-radius: 6px;
        transition: .3s ease-in-out;
        box-shadow: 5px 5px 15px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &:hover {
            transform: translateY(-6px);
        }

        .cardProductDivImg {
            position: relative;
        }

        p {
            color: gray;
            font-size: 12px;
        }

        .cardProductsButton {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;

            p {
                font-size: 1.2rem;
                color: $colorB;
                font-weight: 600;
            }
        }
    }
}