.castOnly {
    margin: 2rem 0;

    h6 {
        font-size: 1rem;
        font-weight: 300;
        text-align: center;
    }

    section {
        margin-top: 1rem;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;

        div .castOnlyPhelp {
            font-size: 12px;
            color: gray;
        }
    }
}