@import '../../../style/colors.scss';

.vewTheProduct {
    height: 100%;
    margin-top: 70px;
    padding: 1rem;

    .vewTheProductCont {

        .vewTheProductDiv {
            margin-top: 5%;
            display: flex;
            justify-content: center;
            gap: 4rem;
        }

        .logDescription {
            width: 60%;
            margin: 0 auto;
            margin-top: 2rem;
            line-height: 2;
        }

        .vewTheProductLog {
            margin-top: 4rem;
            display: flex;
            justify-content: center;

            span {
                color: $underMark
            }
        }

        .vewTheProductMessage {
            width: 75%;
            margin: auto;
        }
    }

    span {
        color: #f45c14;
    }
}


@media (max-width: 767px) {

    .vewTheProduct {
        display: flex;
        flex-direction: column;
        align-items: center;

        .vewTheProductDiv {
            flex-direction: column;
            gap: 1rem;
        }
    }
}