@import '../../../style/colors.scss';

.SearchProductDIV {
    display: flex;
    justify-content: space-between;
    
    .SearchProduct {
        display: flex;
        gap: 1rem;

        select {
            width: 150px;
        }
    }

    .SearchProductIdentification {
        display: flex;
        gap: .4rem;

        .identificationBtn {
            width: 60px;
            background-color: $colorC;
            color: #ffff;
            font-size: 10px;
            cursor: pointer;
            border-radius: 3px;
            border: none;
        }
    }
}