@import '../../../../style/colors.scss';

.printExpand {
    margin-left: 1rem;

    .expandList {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        list-style-type: none;

        li strong {
            color: $colorB;
        }
    }
}