.siteUpdateDescription {
    
    .siteUpdateDescImgs {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        align-items: center;

        div img {
            width: 280px;
            height: 150px;
            object-fit: cover;
        }
    }

    .siteUpdateDescInputs {
        margin-top: 1rem;

        span {
            color: #058d4d;
            font-size: 12px;
        }

        textarea {
            width: 100%;
            min-height: 100px;
        }
    }
}