.newPublicity {
    margin-top: 70px;
    padding: 1rem;
    width: 85%;

    .newPublicityChek {
        display: flex;
        gap: 1rem;
    }

    .newPublicityData {
        border: 1px solid gray;
        width: 500px;
        padding: 1rem;
        border-radius: 6px;
        background-color: rgba(128, 128, 128, 0.26);
    }
}