.cleanDataBase {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .cleanDataBaseSelect {
        display: flex;
        flex-direction: column;

        select {
            width: 200px;
        }
    }
}