.sitePanal {

    .sitePanalButtons {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 1rem;
    }

    .sitePanalBody {
        margin-top: 1rem;
    }
}