.shiftAllRooms {
    margin-top: 1rem;

    .shiftAllRoomsRoom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 6px;
        width: 280px;
        
        select {
            width: 200px;
        }
    }
}