@import '../../../../style/colors.scss';

#updEventHelp {
    border-top: 1px solid gray;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;

    span {
        color: $colorB;
    }

    .updEventHelpSectA {
        margin-top: 2rem;
        text-align: center;

        p {
            line-height: 2;
        }

        p:nth-child(3) {
            margin-top: 1rem;
        }
    }

    .updEventHelpSectB {
        margin-top: 2rem;

        img {
            max-width: 600px;
            width: 100%;
            box-shadow: 5px 5px 15px;
            transition: .3s ease-in-out;

            &:hover {
                transform: translateY(-3px);
            }
        }
    }

    .updEventHelpSectC {
        display: flex;
        width: 60%;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 2rem;
        margin-top: 2rem;

        img {
            max-width: 200px;
            width: 100%;
            box-shadow: 5px 5px 15px;
            transition: .3s ease-in-out;

            &:hover {
                transform: translateY(-3px);
            }
        }
    }

    .updEventHelpSectD {
        display: flex;
        flex-direction: column;
        margin-top: 3rem;
        text-align: center;

        p {
            line-height: 2;
        }
    }

    .updEventHelpSectLog {
        margin-top: 6rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            text-align: center;
        }

        span {
            color: $underEvent;
        }
    }
}

@media (max-width: 767px) {

    #updEventHelp {
        width: 90%;

        .updEventHelpSectC {
            width: 90%;
        }
    }
}