.shiftSeccion {

    .shiftSeccionCont {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;

        

        .shiftSeccionDays {

            .shiftSeccionCheck {
                display: flex;
                flex-wrap: wrap;
            }
        }
    }
}