@import '../../../../style/colors.scss';

.sitePageSocialMedia {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 6rem;

    a {
        transition: .3s ease-in-out;
        color: black;

        &:hover {
            color: $underSite
        }

        .sitePageSocialMediaIcon {
            font-size: 3rem;
        }

        .sitePageSocialMediaSpot {
            transition: .3s ease-in-out;
            border-radius: 50%;

            &:hover {
                background-color: $underSite;
            } 
        }
    }
}

@media (max-width: 767px) {
    .sitePageSocialMedia {
        width: 98%;
    }
}