@import '../../../style/colors.scss';

.newEvent {
    margin-top: 70px;
    padding: 1rem;
    min-height: 70vh;

    .newEventHelp {
        text-decoration: none;

        p {
            text-align: end;
            color: $colorA;
            padding-right: 2rem;
            cursor: pointer;
            transition: .3s ease-in-out;

            &:hover {
                color: $colorE;
            }
        }
    }

    h2 {
        text-align: center;
        font-size: 3rem;
    }
}

@media (max-width: 767px) {

    .newEvent {
        padding: 3px;

        .newEventHelp p {
            padding-right: 1rem;
            cursor: pointer;
        }

        h2 {
            text-align: center;
            font-size: 2rem;
        }
    }
}