.productSite {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .productSiteBody {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        .productSiteDiv {
            display: flex;
            flex-direction: column;
            align-items: center;

            .productSiteSwitch {
                display: flex;
                align-items: center;
            }

            .productSitePhelp {
                font-size: 12px;
                color: gray;
            }
        }
    }
}