.uploadTransfer {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .uploadTransferChek {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
    }
}

@media (max-width: 767px) {
    .uploadTransfer {
        margin-top: 1rem;

        .uploadTransferChek {
            gap: 1rem;
            background-color: rgb(209, 208, 208);
        }
    }
}