.uploadTransfer {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .uploadTransferChek {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
    }
}