@import '../../../style//colors.scss';

.newsCardsHorizontal {
    margin-top: 2rem;
    width: 40%;
    min-width: 300px;
    min-height: 200px;
    box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.75);
    padding: 1rem 1rem .4rem 1rem;
    border-radius: 3px;
    transition: .3s ease-in-out;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:hover {
        transform: translateY(-5px);
    }

    h2 {
        text-align: center;
        color: $underNews;
        cursor: pointer;
        transition: .3s ease-in-out;

        &:hover {
            color: #5277a8;
        }
    }

    .newsCardsHorizontalDiv {
        display: flex;
        align-items: flex-start;
        margin-top: 1rem;
        gap: 1rem;

        .newsCardsHorizontalImg {
            width: 100px;
        }

        .newsCardsHorizontalLogo {
            display: none;
        }

        p {
            width: 70%;
            text-align: justify;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            line-height: 1.6;
        }
    }

    .uniqueNewsVewSocialMedia {
        display: flex;
        justify-content: flex-end;
        gap: 1rem;

        .uniqueNewsVewIcon {
            transition: .3s ease-in-out;

            &:hover {
                color: $underNews;
            }
        }
    }
}

@media (max-width: 1028px) {
    .newsCardsHorizontal {

        h2 {
            font-size: 1rem;
        }

        .newsCardsHorizontalDiv {
            gap: 6px;
            flex-direction: column;
            align-items: center;

            .newsCardsHorizontalDivImg {
                width: 100%;
                display: flex;
                align-items: center;
                gap: .4rem;
            }

            p {
                width: 100%;
                text-align: center;
                line-height: 1.2;
            }
        }

        .uniqueNewsVewSocialMedia {
            display: flex;
            justify-content: center;
            gap: 1rem;
            margin-top: 1rem;
        }
    }
}