.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.modalCustom {
    background: white;
    border-radius: 4px;
    padding: 20px;
    max-width: 600px; 
    margin: auto;
}

@media (max-width: 1024px) {
    .modalCustom { 
        max-height: 90vh; 
        overflow-y: auto; 
        overflow-x: hidden;
    }

}
@media (max-width: 767px) {
    .modalCustom { 
        max-width: 280px;
    }
}