.ShiftPostponePanelTab {
    margin-top: 1rem;

    .ShiftPostponePanelTabBack {
        cursor: pointer;
        transition: .3s ease-in-out;

        &:hover {
            background-color: rgb(219, 218, 218);
        }
    }
}

@media (max-width: 767px) {
    
    .ShiftPostponePanelTab {
        width: 90%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;

        &::-webkit-scrollbar {
            height: 6px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #ec3639;
            border-radius: 6px;
        }

        .ShiftPostponePanelTab {
            cursor: pointer;
            transition: .3s;

            &:hover {
                color: black;
                background-color: #ec3639;
            }
        }
    }
}