.transferVewAlert {
    margin-top: 70px;
    padding: 1rem;
    min-height: 80vh;
    width: 100%;

    .transferVewAlertTiekcet {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}