.dataUser {
    background-image: url('https://res.cloudinary.com/dtzy75wyt/image/upload/v1721573183/images/qel79gi83jo6h96h8nzi.jpg');
    width: 100%;
    background-size: cover;
    padding: 1rem;
}