.sitePageDiscography {
    margin-top: 6rem;

    h2 {
        margin: 2rem 0;
        text-align: center;
    }

    section {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 1rem;

        .sitePageDiscographySelect {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1rem;
            margin-top: 2rem;

            .sitePageDiscographyDivDisc {
                text-align: center;
                transition: .3s ease-in-out;
                cursor: pointer;

                p {
                    font-size: 12px;
                }

                &:hover {
                    transform: translateY(-5px);
                }

                .sitePageDiscographyimg {
                    width: 100px;
                    height: 100px;
                    object-fit: cover;
                    box-shadow: 5px 5px 15px;
                }
            }
        }
    }
}

@media (max-width: 769px) {
    .sitePageDiscography {
        margin-top: 4rem;

        h2 {
            margin: 0;
            text-align: center;
        }

        section {
            justify-content: center;
            width: 100%;

            .sitePageDiscographySelect {

                flex-direction: row;
                flex-wrap: wrap;
                gap: 1rem;
                margin-top: 0;
            }
        }
    }
}